<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <meta name="author" content="{{htmlWebpackPlugin.options.author}}">
    <title>{{htmlWebpackPlugin.options.title}}</title>
  </head>
  <body>
    <div class="alert alert-primary" role="alert">
      <a href="{{htmlWebpackPlugin.options.href1}}">
        {{htmlWebpackPlugin.options.href1Text}}</a>
    </div>
    <span class="loading fa fa-spinner fa-spin"></span>
  </body>
</html>
